# Load Zephyr Arch Kconfig descriptions.
osource "/home/federico/Documents/Zephyr_Intermediate_Course_IOMICO/taskworkspace/deps/zephyr/arch/rx/Kconfig"
osource "/home/federico/Documents/Zephyr_Intermediate_Course_IOMICO/taskworkspace/deps/zephyr/arch/x86/Kconfig"
osource "/home/federico/Documents/Zephyr_Intermediate_Course_IOMICO/taskworkspace/deps/zephyr/arch/xtensa/Kconfig"
osource "/home/federico/Documents/Zephyr_Intermediate_Course_IOMICO/taskworkspace/deps/zephyr/arch/sparc/Kconfig"
osource "/home/federico/Documents/Zephyr_Intermediate_Course_IOMICO/taskworkspace/deps/zephyr/arch/riscv/Kconfig"
osource "/home/federico/Documents/Zephyr_Intermediate_Course_IOMICO/taskworkspace/deps/zephyr/arch/posix/Kconfig"
osource "/home/federico/Documents/Zephyr_Intermediate_Course_IOMICO/taskworkspace/deps/zephyr/arch/openrisc/Kconfig"
osource "/home/federico/Documents/Zephyr_Intermediate_Course_IOMICO/taskworkspace/deps/zephyr/arch/mips/Kconfig"
osource "/home/federico/Documents/Zephyr_Intermediate_Course_IOMICO/taskworkspace/deps/zephyr/arch/arm64/Kconfig"
osource "/home/federico/Documents/Zephyr_Intermediate_Course_IOMICO/taskworkspace/deps/zephyr/arch/arm/Kconfig"
osource "/home/federico/Documents/Zephyr_Intermediate_Course_IOMICO/taskworkspace/deps/zephyr/arch/arc/Kconfig"
